In [1]:
import pandas as pd
import random

In [9]:
# Generate random pandas dataframe with 1000 rows and columns ['n_movies', 'n_cat', 'time', "n_output"]

df = pd.DataFrame(columns=['n_movies', 'n_cat', 'time', "n_output"])
for i in range(1000):
    df.loc[len(df)] = [random.randint(1, 1000),
                       random.randint(1, 1000),
                       random.randint(1, 1000),
                       random.randint(1, 1000)]

In [10]:
df

     n_movies  n_cat  time  n_output
0         669    714   123       794
1         311    519   270        87
2         886    193   685       168
3         992    443    55       337
4         752    882   379       946
..        ...    ...   ...       ...
995       562    288   673       626
996        96    807   792       477
997        20    675   210       185
998        82    427   586       297
999        54    785   864       873

[1000 rows x 4 columns]

In [11]:
# Sort df first by n_movies then by n_cat

df.sort_values(by=['n_movies', 'n_cat'])

# Order index after sorting

df = df.sort_values(by=['n_movies', 'n_cat']).reset_index(drop=True)

In [12]:
df

     n_movies  n_cat  time  n_output
0           1    487   751       927
1           1    708   160       432
2           3     55   506       211
3           4     67   230       967
4           4    318   396       595
..        ...    ...   ...       ...
995       993    913   309       486
996       997    667   423       732
997       998    122   623       740
998       999    598   121       437
999       999    845   582       185

[1000 rows x 4 columns]

In [7]:
df.reset_index()

     index  n_movies  n_cat  time  n_output
0        0        38    171   350       366
1        1       768    230   897       418
2        2         1    867    17       278
3        3       703    755   979       962
4        4       855    394    87       494
..     ...       ...    ...   ...       ...
995    995       308    998   983       492
996    996       602      8   406       770
997    997       392    566   323       375
998    998       363    538   169       544
999    999        96    189   573        58

[1000 rows x 5 columns]

In [18]:
df.to_csv(
    f'random.csv', index=False)